.materia {
  color: #443235;
  font-family: m;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.45;
  letter-spacing: 0;
  text-transform: none;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}


.materia:after {
  background: #fdd089;
  content: "";
  width: 200px;
  height: 3px;
  display: block;
  margin: 80px auto;
}

.linkBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
  color: #443235;
}

.linkBar {
  display: grid;
  content: "";
  background: #fdd089;
  width: 3px;
  height: 20px;
  align-items: baseline;
  margin-right: 10px;
}

.materia a {
  color: #443235;
  padding: 5px;
}
.materia a:hover {
  color: #6b5149;
}
